* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.news {
  width: 85%;
  margin: 0 auto;
}

.news .news-section {
  border: 1px solid #dddddd;
  margin: 20px 0;
}

.news .news-section .news-heading {
  text-transform: uppercase;
  color: #3f3e3e;
  background: whitesmoke;
  padding: 10px 20px;
  font-weight: lighter;
  border-bottom: 1px solid #dddddd;
}

.news .news-section .news-heading h3 {
  font-weight: 50;
  font-size: 18px;
}

.news .news-section .news-content {
  font-family: 'Lato' , sans-serif;
  text-align: center;
  margin: 25px;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.news .news-section .news-content h4 {
  padding: 12px;
}

.news .news-section .news-content p {
  font-size: 15px;
  line-height: 1.6;
  color: #777;
}

.news .news-section .news-content .content {
  margin: 0 15px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
}

.error img {
  background: white;
  height: 100px;
}

.error p {
  font-size: 24px;
  font-family: 'Lato' sans-serif;
  font-weight: lighter;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  margin: 0 auto;
}

.cart img {
  background: white;
  height: 90px;
}

.cart p {
  text-align: center;
  font-size: 24px;
  font-family: 'Lato' sans-serif;
  font-weight: lighter;
}

.faq-section {
  width: 90%;
  margin: 0 auto;
}

.login-box {
  background: url(../img/bg.jpg) center center no-repeat fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.flip-card-inner {
  position: relative;
  width: 400px;
  height: 400px;
  text-align: center;
  background: whitesmoke;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0 15px grey;
  border-radius: 60px;
}

.flip-card-inner input[type=submit], .flip-card-inner button {
  position: absolute;
  bottom: 15px;
  font-size: 12px;
  padding: 5px 10px;
  cursor: pointer;
  width: 121.6px;
  height: 30px;
  border: none;
  outline: none;
  color: white;
  border-radius: 2px;
}

.flip-card-inner input[type=submit]:hover, .flip-card-inner button:hover {
  filter: brightness(90%);
}

.flip-card-inner .login {
  right: 75px;
  background: #337Ab7;
}

.flip-card-inner #register {
  right: 205px;
  background: #F0AD4E;
}

.flip-card-inner #backtologin {
  z-index: 2;
  right: 205px;
  background: #F0AD4E;
}

.flip-card-inner #signup {
  z-index: 2;
  right: 75px;
  background: #337Ab7;
}

.flip-card-inner form {
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.flip-card-inner form input[type=text], .flip-card-inner form input[type=password] {
  width: 70%;
  margin-bottom: 10px;
  height: 34px;
  font-size: 14px;
  padding: 6px 12px;
  color: #555;
  background: #fff;
  border: 1px solid #ccc;
  line-height: 1.42;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.flip-card-inner #usepassword, .flip-card-inner #text {
  position: fixed;
  font-size: 12px;
  text-align: center;
  left: 120px;
  padding: 1px 5px;
  color: #337Ab7;
  bottom: 55px;
}

.flip-card-inner img {
  margin-top: 40px;
  pointer-events: none;
}

.flip-card-inner h1 {
  margin-top: -10px;
  background-color: #f5f5f5;
  color: #5F7883;
  font-size: 30px;
  padding: 15px;
  pointer-events: none;
  font-family: "Helvetica Neue",sans-serif;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

.flip-card-front, .flip-card-back {
  border-radius: 60px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f5f5f5;
  color: black;
}

textarea {
  height: 83px;
  width: 253px;
  background: fff;
  padding: 6px 12px;
  overflow: auto;
  border: 1px solid #ccc;
}

.flip-card-back {
  background-color: #f5f5f5;
  color: black;
  transform: rotateY(180deg);
}

.captcha-popup .cat-popup {
  background: rgba(0, 0, 0, 0.8);
  line-height: 1.4;
  text-align: center;
  border-radius: 5px;
  z-index: 22;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 478px;
  padding: 17px;
  overflow: hidden;
}

.captcha-popup .cat-popup h1 {
  font-weight: 300;
  font-size: 30px;
  color: #333333;
  margin: 20px 0 10px;
}

.captcha-popup .cat-popup .img {
  border: 1px solid black;
  width: 170px;
  height: 96px;
  margin: 0 auto;
  font-size: 35px;
  display: grid;
  place-content: center;
  background-image: url(../img/loginBird.png);
  opacity: .2;
}

.captcha-popup .cat-popup form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.captcha-popup .cat-popup input[type=text] {
  padding: 6px 12px;
  height: 36px;
  width: 90%;
  border: 1px solid #ccc;
  margin: 10px;
}

.captcha-popup .cat-popup input[type=submit] {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 10px 16px;
}

.captcha-popup .cat-popup input[type=submit]:hover {
  filter: brightness(80%);
}

.failed-popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.failed-popup .fail-popup {
  background-color: #fff;
  width: 478px;
  height: 300px;
  padding: 17px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
}

.failed-popup .fail-popup img {
  margin: 15px auto;
}

.failed-popup .fail-popup h1 {
  font-size: 30px;
  line-height: 33px;
  font-weight: 500;
  color: #333333;
  margin: 10px 10px;
}

.failed-popup .fail-popup p {
  color: #777777;
  font-size: 21px;
  font-weight: 300;
  text-align: center;
  line-height: 29.4px;
}

.failed-popup .fail-popup .btn-red {
  background: #d95359;
  border: 1px solid #d43f3a;
  border-radius: 6px;
  color: #fff;
  font-weight: 400;
  padding: 10px 16px;
  text-decoration: none;
  margin: 20px;
  cursor: pointer;
}

.failed-popup .fail-popup .btn-red:hover {
  filter: brightness(80%);
}

.success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
  text-align: center;
}

.success .success-popup {
  z-index: 2000;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px #f5f5f5;
}

.success .success-popup img {
  margin: 10px 0;
}

.success .success-popup h1 {
  color: #333333;
  font-size: 30px;
  font-weight: 500;
  line-height: 33px;
  margin: 10px;
}

.success .success-popup .light {
  font-size: 21px;
  font-weight: 300;
  line-height: 29.4px;
  margin-bottom: 10px;
  text-align: center;
  color: #777777;
}

.success .success-popup textarea {
  width: 95%;
  color: #333333;
  padding: 7px;
  margin: 10px 0 20px 0;
}

.success .success-popup input[type=text] {
  width: 95%;
  padding: 8px 12px;
  margin-bottom: 30px;
}

.success .success-popup .small-red {
  font-size: 11.55px;
  color: #a94442;
  font-weight: 300;
  line-height: 16.17px;
}

.success .success-popup .btn-blue {
  border-radius: 6px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
  cursor: pointer;
  border: 1px solid #2e6da4;
  outline: none;
  padding: 10px 15px;
  color: white;
  background-color: #337ab7;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.table {
  width: 85%;
  margin: 0 auto;
  display: table;
  text-indent: initial;
  border-color: grey;
  margin-top: 20px;
}

.table thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.table thead tr th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  text-align: left;
}

.table thead tr th .btn-group-xs > .btn, .table thead tr th .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.table thead tr th .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.table thead tr th .btn {
  display: inline-block;
  padding: 2px 5px;
  margin-bottom: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.table thead tr th button {
  overflow: visible;
}

.table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

.table td, .table th {
  padding: 0;
}

.table {
  width: 85%;
  max-width: 85%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}

.table-cards {
  font-size: 13px;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
  border-top: 0;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table-cards td, .table-cards th {
  padding: 2px !important;
}
/*# sourceMappingURL=main.css.map */