$color-primary : rgb(245, 245, 245);
$color-light:rgb(248, 248, 248);
$head-news-color:rgb(51, 51, 51);
$font-color:#8b8b8b;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    // background: red;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    // width: 90%;
    // margin: 0 auto;
}
// Navbar Styling
.nav{
    width: 100%;
    background: #F8F8F8;
    border: 1px solid #cecdcd;
    min-height: 40px !important;
    height: 40px;
    .navbar{
        // width: 1138px;
        width: 85%;
        margin: 0 auto;
        height: 40px;
        color: #777;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin-bottom: 20px;
        flex-basis: 100%;
        .head{
            display: flex;
            align-items: center;
            color: #8b8b8b;
            h1{
                font-size: 18px;
                margin: 0 0 0 -15px;
                line-height: 20px;
                font-weight: normal;
                padding: 12px 15px;
                a{
                    color: #777;
                }
            }
            ul{ 
                display: flex;
                list-style: none;
                margin-right: 20px;
                li{
                    // margin-right: 20px;
                    i{
                        margin-right: 5px;
                        font-size: 100%;
                        color: #8b8b8b;
                    }
                    a{
                        font-size: 14px;
                        // letter-spacing:1px;
                        line-height: 20px;
                        padding: 10px 15px;
                        color: #777;
                        &:hover{
                                color: #000;
                            
                        }
                    }
                }
            }
            
            
        }
        a{
            text-decoration: none;
            // color: #555;
        }
        
        .account{
            display: flex;
            align-items: center;
            cursor: pointer;
            p,div{
                font-size: 14px;
                margin: 0 12px;
                i{
                    font-size: 100%;
                }

            }
            .chat{
                margin: 0 15px;
                i{
                    font-size: 80%;
                }
                position: relative;
                i{
                    font-size: 80%;
                }
                .chatbox{
                    // background: #fff;
                    width: 400px;
                    height: 400px;
                    position: absolute;
                    top: 28px;
                    // z-index: 1;
                    left: -200px;
                    margin: 0 auto;
                    border:1px solid rgb(221, 221, 221);
                    // box-shadow: 0 2px 2px rgb(221, 221, 221);
                    .headchat{
                        height: 37px;
                        margin: 0;
                        color: rgb(63, 62, 62);
                        background: rgb(245, 245, 245);
                        padding:10px 20px;
                        font-weight: lighter;
                        border-bottom: 1px solid rgb(221, 221, 221);
                    }
                    .msg-box{
                        z-index: 777;
                        height: 328px;
                        // width: 100%;
                        position: absolute;
                        top: 37px;
                        width: 400px;
                        background: #fff;
                        .message{
                            border: 1px solid rgb(221,221,221);
                            border-radius: 5px;
                            background: rgb(221,221,221);
                            color: black;
                            width: max-content;
                            margin-top: 10px;
                            // overflow: scroll;
                            padding: 5px;
                        }
                    }
                    .typemsg{
                        // display: block;
                        width: 100%;
                        height: 35px;
                        position: absolute;
                        bottom: 0;
                        color: rgb(63, 62, 62);
                        background: rgb(245, 245, 245);
                        font-weight: lighter;
                        border-bottom: 1px solid rgb(221, 221, 221);
                        margin: 0;
                        form{
                            display: flex;
                            flex-basis: 100%;
                            justify-content: space-between;
                              input{
                                padding: 8px 15px;
                                flex-basis: 90%;
                            }
                            button{
                                text-align: center;
                                flex-basis: 10%;
                                padding: 8px 15px;
                            }
                        }
                    }

                }

            }
            .username{
                margin-left:5px;
            }
            #currency{
                background-color: #777;
                font-weight: bold;
                width: max-content;
                font-size: 11px;
                color: white;
                border: 1px solid #555;
                border-radius: 5px;
                padding:2px 10px;
                margin:0 5px;
            }
            .dropdown{
                position: relative;
                display: flex;
                align-items: center;
                
                .dropdown-box{
                    background: white;
                    cursor: auto;
                    width: 250px;
                    height: 150px;
                    position: absolute;
                    top: 25px;
                    right: 0px;
                    border: 1px solid rgb(221, 221, 221);
                box-shadow: 0 2px 2px rgb(221, 221, 221);
                    .usericon{
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        img{
                            height: 40px;
                        }
                        p{
                            font-size: 24px;
                            color: black;
                            font-weight: normal;
                        }
                    }
                    .mail-details{
                        p{
                            padding-bottom: 5px;
                        }
                        margin: 13px 0;
                        // padding: 5px;
                    }
                    .setting{
                        position: relative;
                        bottom: 0;
                        margin: 0;
                        display: flex;
                        flex-basis: 100%;
                        button{
                            font-size: 14px;
                            flex-basis: 50%;
                            padding: 3px 15px;
                            background: rgb(245,245,245);
                            border: 1px solid rgb(221, 221, 221);
                            outline: none;
                            // border: none;
                            // border-left: 1px solid grey;
                            cursor: pointer;
                            &:hover{
                                background: rgb(221,221,221);
                            }
                        }
                    }
                }
            }
        
        }
    }
}


// popup setting click
.setting-popup{
    height: 100vh;
    // width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 auto;
    background: rgba(221,221,221,.75);
    .popup{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 500px;
        height: 400px;
        border: 1px solid rgb(221, 221, 221);
        box-shadow: 0 2px 2px rgb(197, 195, 195);
        background: #fff;
        border-radius: 20px;
        margin: 0 auto;
        .popup-head{
            font-weight: 300;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 20px;
            border-bottom: 1px solid rgb(221, 221, 221);
            span{
                cursor: pointer;
            }
        }
    }  
}
// News Section
.news{
    width: 85%;
    margin: 0 auto;
    .news-section{
        // width: 85%;
        border: 1px solid rgb(221, 221, 221);
        margin: 20px 0;
        .news-heading{
            text-transform: uppercase;
            color: rgb(63, 62, 62);
            background: rgb(245, 245, 245);
            padding:10px 20px;
            font-weight: lighter;
            border-bottom: 1px solid rgb(221, 221, 221);
            h3{
                font-weight: 50;
                font-size: 18px;
            }
        }
        .news-content{
            font-family: 'Lato' , sans-serif;
            text-align: center;
            margin: 25px;
            line-height: 1.4;
            letter-spacing: 0.5px;
            h4{
                padding: 12px;
            }
            p{
                font-size: 15px;
                line-height: 1.6;
                color: #777;
            }
            .content{
                margin: 0 15px;
            }
        }
    }
}


// Error Thing
.error{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    
    img{
        background: white;
        height:100px ;
    }
    p{
        font-size: 24px;
        font-family: 'Lato' sans-serif;
        font-weight: lighter;
    }
}

// Cart Empty Thing
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    margin: 0 auto;
    img{
        background: white;
        height:90px ;
    }
    p{
        text-align: center;
        font-size: 24px;
        font-family: 'Lato' sans-serif;
        font-weight: lighter;
    }
}

//faq 
.faq-section{
    width: 90%;
    margin: 0 auto;
}
// Billing 
.table-content{
    width: 90%;
    margin:0 auto;
    ul{
        margin: 20px 0;
        list-style: none;
        border-bottom: 1px solid #ccc;
        // display: inline-block;
        animation: fadeEffect 1s;

        /* Go from zero to full opacity */
        @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
        }
        li{
            border: 1px solid #ccc;
            border-bottom: none;
            display: inline-block;
            // background: #cecdcd;
            padding: 12px 15px;
            cursor: pointer;
            font-size: 14px;
            margin-right: -5px;
            // background: rgb(156, 110, 110);
            &:hover{
                background: #ccc;
            }
        }
        
        #bitbtn{
            border-bottom: none;
            
        }
        #litebtn{
            // border-top:none;
            // border-right: none;
            border-left: none;
        }

    }
    .content{
        .image{
            text-align: center;
            margin: 0 auto;
            margin: 50px;
            img{
                width: 300px;

            }
            #liteimg{
                height: 70px;
            }

        }
        
        .btn{
            display: block;
            width:max-content;
            margin: 0 auto;
            margin-top: 20px;
            text-decoration: none;
            background: rgb(27, 91, 175);
            color: white;
            padding: 8px 22px;
            &:hover{
                filter: brightness(80%);
            }
        }
        table {
            border-spacing: 0;
            border-collapse: collapse;
            background-color: transparent;
            width: 100%;
            margin-bottom: 20px;
            max-width: 100%;
            border: 1px solid #ddd;
            margin-top: 30px;
            font-size: 13px;
            thead {
                display: table-header-group;
                vertical-align: middle;
                border-color: inherit;
            }
            tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                height: 24px;
                .id{
                    width: 50px;
                }
                .status{
                    width: 350px;
                }
                .ruser{
                    width: 107px;
                }
                .rusd{
                    width: 61px;
                }
                .rcur{
                    width: 59px;
                }
                .rate{
                    width: 173px;
                }
                .fee{
                    width: 51px;
                }
                .cdate{
                    width: 141px;
                }
                .pdate{
                    width: 167px;
                }
                .action{
                    width:72px;
                }

            }
            td{
                border: 1px solid #ddd;
            }
            
        }
        th{
            border: 1px solid rgb(221, 221, 221);
            text-align: left;
            padding: 2px;
            color: rgb(51, 51, 51);
            font-weight: 700;
            line-height: 18.57px;
            

        }
        
    }
}

// Login-page Front
// 3d flip

.login-box{
    background: url(../img/bg.jpg) center center no-repeat fixed;
    background-size: cover;
    // background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
 
.hide{
    display: none;
}
.show{
    display: block;
}

.flip-card-inner {
  position: relative;
  width: 400px;
  height: 400px;
  text-align: center;
  background: rgb(245, 245, 245);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0 15px grey;
  border-radius: 60px;
  input[type=submit],button{
      position: absolute;
      bottom: 15px;
      font-size: 12px;
      padding: 5px 10px;
      cursor: pointer;
      width: 121.6px;
      height: 30px;
      border: none;
      outline: none;
      color: white;
      border-radius: 2px;
      &:hover{
        filter: brightness(90%);
      }
  }
  .login{ 
    right: 75px;
    background: #337Ab7;
  }
  #register{
      right: 205px;
      background: #F0AD4E;
  }
  #backtologin{
      z-index: 2;
      right: 205px;
      background: #F0AD4E;
  }
  #signup{
      z-index: 2;
    right: 75px;
    background: #337Ab7;
  }

  form{
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        input[type=text],input[type=password]{
        width: 70%;
        margin-bottom: 10px;
        height: 34px;
        font-size: 14px;
        padding: 6px 12px;
        color: #555;
        background: #fff;
        border: 1px solid #ccc;
        line-height: 1.42;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        }
  }


//   #text{
//       font-size: 12px;
//       padding: 1px 5px;
//       color: #337Ab7;
//   }
  #usepassword,#text{
      position: fixed;
      font-size: 12px;
      text-align: center;
      left: 120px;
      padding: 1px 5px;
      color: #337Ab7;
      bottom: 55px;
  }
  img{
      margin-top: 40px;
      pointer-events: none;
  }
  h1{
      margin-top: -10px;
    background-color: #f5f5f5;
    color: #5F7883;
    font-size: 30px;
    padding: 15px;
    pointer-events: none;
    // position: absolute;
    // right: 0;
    font-family: "Helvetica Neue",sans-serif;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
  }

}
.flip-card-front, .flip-card-back {
  border-radius: 60px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f5f5f5;
  color: black;
//   border-radius: 60px;
}
textarea{
    height: 83px;
    width: 253px;
    background: fff;
    padding: 6px 12px;
    overflow: auto;
    border: 1px solid #ccc;
}
.flip-card-back {
  background-color: #f5f5f5;
  color: black;
  transform: rotateY(180deg);
}

// popup login captcha 
.captcha-popup{
    // z-index: 999;
    // position: absolute;
    // top: 0;
    // left: 0;
    // // opacity: 9;
    // background-color: rgba(0,0,0,.9);
    .cat-popup{
        // display: flex;
        // justify-content: center;
        // flex-direction: column;
        // align-items: center;
        background: rgba(0,0,0,.8);
        line-height: 1.4;
        text-align: center;
        border-radius: 5px;
        z-index: 22;
        background: #fff;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 478px;
        padding: 17px;
        overflow: hidden;
        h1{
            font-weight: 300;
            font-size: 30px;
            color: #333333;
            margin: 20px 0 10px;
        }
        .img{
            border: 1px solid black;
            width: 170px;
            height: 96px;
            margin: 0 auto;
            font-size: 35px;
            display: grid;
            place-content: center;
            background-image: url(../img/loginBird.png);
            opacity: .2;
        }
        form{
            // width: max-content;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        input[type=text]{
            padding: 6px 12px;
            height: 36px;
            width: 90%;
            border: 1px solid #ccc;
            margin: 10px;
        }
        input[type=submit]{
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            cursor: pointer;
            user-select: none;
            border: 1px solid transparent;
            border-radius: 6px;
            padding: 10px 16px;
            &:hover{
                filter: brightness(80%);
            }
        }
    }
}


// popup failed login

.failed-popup{
    // position: absolute;
    // top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // animation: showSweetAlert .3s;

    .fail-popup{
        background-color: #fff;
        width: 478px;
        height: 300px;
        padding: 17px;
        border-radius: 5px;
        position: fixed;
        top: 50%;
        left: 50%;

        transform: translate(-50%,-50%);
        // margin-left: -256px;
        // margin-top: -200px;
        overflow: hidden;
        text-align: center;
    // z-index: 2000;
        img{
        margin: 15px auto;
        }
        h1{
        font-size: 30px;
        line-height: 33px;
        font-weight: 500;
        color: rgb(51, 51, 51);
        margin: 10px 10px;
        }
        p{
        color: rgb(119,119,119);
        font-size: 21px;
        font-weight: 300;
        text-align: center;
        line-height: 29.4px;

        }
        .btn-red{
        background: rgb(217,83,89);
        border: 1px solid rgb(212,63,58);
        border-radius: 6px;
        color: #fff;
        font-weight: 400;
        padding: 10px 16px;
        text-decoration: none;
        margin: 20px;
        cursor: pointer;
            &:hover{
            filter: brightness(80%);
            }
        }
    }

}

.success{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: red;
    text-align: center;
    // opacity: 1.5;
    // background: fff;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .success-popup{
        z-index: 2000;
        width: 478px;
        padding: 17px;
        border-radius: 5px;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 0 2px 3px #f5f5f5;
        img{
            margin: 10px 0;
        }
        h1{
            color: rgb(51, 51, 51);
            font-size: 30px;
            font-weight: 500;
            line-height: 33px;
            margin: 10px;
        }
        .light{
            font-size: 21px;
            font-weight: 300;
            line-height: 29.4px;
            margin-bottom: 10px;
            text-align: center;
            color: rgb(119,119,119);
        }
        textarea{
            width: 95%;
            color: rgb(51, 51, 51);
            padding: 7px;
            margin: 10px 0 20px 0;
        }
        input[type=text]{
            width: 95%;
            padding: 8px 12px;
            margin-bottom: 30px;
        }
        .small-red{
            font-size:11.55px;
            color: rgb(169,68,66);
            font-weight: 300;
            line-height: 16.17px;
        }
        .btn-blue{
            border-radius: 6px;
            font-weight: 400;
            line-height: 24px;
            outline: none;
            cursor: pointer;
            border: 1px solid rgb(46,109,164);
            outline: none;
            padding: 10px 15px;
            color: white;
            background-color: rgb(51, 122, 183);
            text-align: center;
            // margin: 15px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

    }    
}


// Order page
table{
    width: 85%;
    margin: 0 auto;
    display: table;
    text-indent: initial;
    border-color: grey;
    margin-top: 20px;
    thead {
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
        tr{
            th{
                vertical-align: bottom;
                border-bottom: 2px solid #ddd;
                text-align: left;
                .btn-group-xs>.btn, .btn-xs {
                    padding: 1px 5px;
                    font-size: 12px;
                    line-height: 1.5;
                    border-radius: 3px;
                }
                .btn-success {
                    color: #fff;
                    background-color: #5cb85c;
                    border-color: #4cae4c;
                }
                .btn {
                    display: inline-block;
                    padding: 2px 5px;
                    margin-bottom: 0;
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    cursor: pointer;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    border: 1px solid transparent;
                    border-radius: 4px;
                }
                button {
                    overflow: visible;
                }
            }
        }
    }
    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }
    th {
        display: table-cell;
        vertical-align: inherit;
        font-weight: bold;
        text-align: -internal-center;
    }
    td, th {
    padding: 0;
    }
}
.table {
    width: 85%;
    max-width: 85%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}
.table-cards {
    font-size: 13px;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table-cards td, .table-cards th {
    padding: 2px!important;
}

