* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background: red; */
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 90%; */
    /* margin: 0 auto; */
}
.hide{
    display: none;
}
.show{
    display: block;
}

.nav{
    width: 100%;
    background: #F8F8F8;
    border: 1px solid #cecdcd;
    min-height: 40px !important;
    height: 40px;
}
.nav .navbar{
    /* width: 1138px; */
    width: 85%;
    margin: 0 auto;
    height: 40px;
    color: #777;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
    flex-basis: 100%;
}
.nav .navbar .head{
    display: flex;
    align-items: center;
    color: #8b8b8b;
}
.nav .navbar .head h1{
    font-size: 18px;
    margin: 0 0 0 -15px;
    line-height: 20px;
    font-weight: normal;
    padding: 12px 15px;
}
a{
    text-decoration: none;
}
.nav .navbar .head a{
    color: #777;
}
.nav .navbar .head ul{
    display: flex;
    list-style: none;
    margin-right: 20px;
}
.nav .navbar .head ul li i{
    margin-right: 5px;
    font-size: 100%;
    color: #8b8b8b;
}
.nav .navbar .head ul li a{
    font-size: 14px;
    /* letter-spacing:1px; */
    line-height: 20px;
    padding: 10px 15px;
    color: #777;
}
.nav .navbar .head ul li a:hover{
    color: #000;
}
/* Account */
.nav .navbar .account{
    display: flex;
    align-items: center;
    cursor: pointer;
}
i{
    font-size: 100%;
}
.nav .navbar .account p,
.nav .navbar .account div{
    font-size: 14px;
    margin: 0 12px;
}
.nav .navbar .account .chat{
    margin: 0 15px;
    position: relative;
}
.nav .navbar .account .chat i{
    font-size: 80%;
}
.nav .navbar .account .chat .chatbox{
    /* background: #fff; */
    width: 400px;
    /* height: 400px; */
    position: absolute;
    top: 28px;
    /* z-index: 1; */
    left: -200px;
    margin: 0 auto;
    border:1px solid rgb(221, 221, 221);
    /* box-shadow: 0 2px 2px rgb(221, 221, 221); */
}
.nav .navbar .account .chat .chatbox .headchat{
    width: 100%;
    height: 30px;
    margin-left: -0px;
    background: rgb(247, 247, 247);
    padding: 8px 14px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.nav .navbar .account .chat .chatbox .headchat h4{
    font-size: 14px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    
}
.nav .navbar .account .chat .chatbox .headchat h4 i{
    margin-right: 5px;
}
.nav .navbar .account .chat .chatbox .msg-box{
    /* z-index: 777;
    height: 328px;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 37px;
    width: 400px;
    height: 350px;
    width: 100%; */
    /* position: absolute; */
    height: 328px;
    top: 28px;
}
.nav .navbar .account .chat .chatbox .msg-box .msg{
    width: 100%;
    margin: 2px auto;
    /* padding: 5px 3px; */
    border-bottom: 2px solid #ccc;
    border-bottom-style: dotted;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: center;
    background: #fff;
}
.nav .navbar .account .chat .chatbox .msg-box .msg .icon{
    flex-basis: 9%;
}
.nav .navbar .account .chat .chatbox .msg-box .msg .msg-details{
    flex-basis: 89%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* border: 1px solid red; */
}
.nav .navbar .account .chat .chatbox .msg-box .msg .msg-details .userAndTym{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    padding-bottom: none;
}
.nav .navbar .account .chat .chatbox .msg-box .msg .msg-details .userAndTym p{
    font-size: 12px;
    text-align: left;
    margin-left: -15px;
}
.nav .navbar .account .chat .chatbox .msg-box .msg .msg-details .userAndTym h5{
    font-size: 14px;
    margin-right: -35px;
}
.nav .navbar .account .chat .chatbox .msg-box .msg .msg-details .actual-msg{
    font-size: 13px;
    padding-left: -22px;
    /* margin-left: -15px; */
    align-items: center;
    padding-bottom:10px;
}
.nav .navbar .account .chat .chatbox .typemsg{
    width: 100%;
    margin: 0;
}
.nav .navbar .account .chat .chatbox .typemsg form{
    width: 100%;
    margin: 0;
    display: flex;
    flex-basis: 100%;
    padding: 10px 15px;
    background: rgb(247, 247, 247);
}
.nav .navbar .account .chat .chatbox .typemsg form input{
    flex-basis: 95%;
    border: 1px solid #ccc;
    border-right: none;
    padding: 5px 10px;
}
.nav .navbar .account .chat .chatbox .typemsg form button{
    cursor: pointer;
    outline: none;
    border: none;
    /* border: 1px solid #5BCODE; */
    flex-basis: 5%;
    background: #5BC0DE;
    padding: 5px 10px;
    color:white;
}
.username {
    margin-left: 5px;
}

#currency {
    background-color: #777;
    font-weight: bold;
    width: max-content;
    font-size: 11px;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 0 5px;
}
.nav .navbar .account .dropdown{
    position: relative;
    display: flex;
    align-items: center;
}
.nav .navbar .account .dropdown .dropdown-box{
    background: white;
    cursor: auto;
    width: 250px;
    height: 150px;
    position: absolute;
    top: 25px;
    right: 0px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0 2px 2px rgb(221, 221, 221);
}
.nav .navbar .account .dropdown .dropdown-box .usericon{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.nav .navbar .account .dropdown .dropdown-box .usericon img{
    height: 40px;
}
.nav .navbar .account .dropdown .dropdown-box .usericon p{
    font-size: 24px;
    color: black;
    font-weight: normal;
}
.nav .navbar .account .dropdown .dropdown-box .mail-details{
    margin: 13px 0;
}
.nav .navbar .account .dropdown .dropdown-box .mail-details p{
    padding-bottom: 5px;
}
.nav .navbar .account .dropdown .dropdown-box .setting{
    position: relative;
    bottom: 0;
    margin: 0;
    display: flex;
    flex-basis: 100%;
}
.nav .navbar .account .dropdown .dropdown-box .setting button{
    font-size: 14px;
    flex-basis: 50%;
    padding: 3px 15px;
    background: rgb(245, 245, 245);
    border: 1px solid rgb(221, 221, 221);
    outline: none;
    /* border: none; */
    /* border-left: 1px solid grey; */
    cursor: pointer;
}
.nav .navbar .account .dropdown .dropdown-box .setting button:hover{
    background: rgb(221,221,221);
}




/* Setting - popup */
.setting-popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 9;
    height: 100vh;
    /* width: 100vw; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: rgba(221, 221, 221, .65);
    /* display: none; */
}
.setting-popup .popup{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    /* height: 400px; */
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    /* box-shadow: 0 2px 2px rgb(197, 195, 195); */
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
}
.setting-popup .popup .popup-head{
    /* font-weight: 300;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px 20px;
    border-bottom: 1px solid rgb(221, 221, 221); */
}
.setting-popup .popup .popup-head .closemodal{
    font-weight: 300;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    padding: 20px 20px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.setting-popup .popup .popup-head span{
    cursor: pointer;
}
.setting-popup .popup .popup-head .tabcontent form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.setting-popup .popup .popup-head .tabcontent .contacted{
    flex-basis: 100%;
}
.setting-popup .popup .popup-head .tabcontent .contacted .half-field{
    display: flex;
    justify-content: space-between;
}
.setting-popup .popup .popup-head .tabcontent .contacted .half-field .one-half{
    flex-basis: 47%;
}
.setting-popup .popup .popup-head .tabcontent .contacted .half-field .second-half{
    flex-basis: 47%;
}
.setting-popup .popup .popup-head .tabcontent .contacted .half-field h4{
    font-size: 14px;
}
.setting-popup .popup .popup-head .tabcontent .contacted .half-field input{
    margin-top: 7px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 12px;
    width: 100%;
}
.setting-popup .popup .popup-head .tabcontent .submitbtn{
    text-align: center;
    padding: 6px 12px;
}
.setting-popup .popup .popup-head .tabcontent .submitbtn input[type=submit]{
    padding: 6px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    background: #fff;
    text-align: center !important;
}
.setting-popup .popup .popup-head .tabcontent .passchange .fullfield{
    width: 100%;
    margin: 0 auto;
}
.setting-popup .popup .popup-head .tabcontent .passchange .fullfield h4{
    font-size: 14px;
}
.setting-popup .popup .popup-head .tabcontent .passchange .fullfield input{
    margin-top: 7px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 12px;
    width: 100%;
}
.setting-popup .popup .popup-head .tabcontent .passchange .half-field{
    display: flex;
    justify-content: space-between;
}
.setting-popup .popup .popup-head .tabcontent .passchange .half-field .one-half{
    flex-basis: 47%;
}
.setting-popup .popup .popup-head .tabcontent .passchange .half-field .second-half{
    flex-basis: 47%;
}
.setting-popup .popup .popup-head .tabcontent .passchange .half-field h4{
    font-size: 14px;
}
.setting-popup .popup .popup-head .tabcontent .passchange .half-field input{
    margin-top: 7px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 12px;
    width: 100%;
}
.setting-popup .popup .popup-head .tabcontent .passchange .half-field .small{
    font-size: 13px;
    text-align: center;
    margin-bottom: 15px;
}
 /* Setting under the tab */
/* Style the tab */
.tab {
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    /* background-color: #f1f1f1; */
}

.tablinks {
    background: #fff;
}

/* Style the buttons inside the tab */
.tab button {
    /* background-color: inherit; */
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ccc;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #fff;
    border-top: .5px solid #ccc;
    border-right: .5px solid #ccc;
    border-left: .5px solid #ccc;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

/* Style the tab content */
.tabcontent {
    /* display: none; */
    padding: 15px 25px;
    border-top: none;
    border: none;
}
